#wrapper {
    /*background-color: red;*/
    margin: auto;
    width: 1000px;
    text-align: center;
}

nav {
    padding: 10px;
}

nav a {
    padding: 10px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
}

#overzichtHouder {
    margin-top: 20px;
}

footer {
    text-align: center;
}

img {
    padding: 10px;
    height: 150px;
}

h4 {
    float: left;
    margin: 10px 10px 10px 30px;
    font-family: 'Roboto', sans-serif;
}

table.overzicht {
    border-collapse: collapse;
    border: 2px solid black;
    margin: auto;
}

table.overzicht td, th {
    border: 1px solid black;
    padding: 5px 30px;
}

a#code, a#plaats, a#land, a#werelddeel {
    border: none;
    background-color: white;
    font-weight: bold;
    text-decoration: none;
}
